body {
  background-color: rgba(91, 150, 110, 0.589);
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #2e8b57;
  text-align: center;
}

p#bio {
  font-size: 18px;
  text-align: justify;
}

ul li {
  margin-bottom: 10px;
}

img {
  border-radius: 10px;
  margin-top: 10px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

.link-centralizado {
  display: inline;
  text-align: center;
  margin-top: 0px; 
  color: rgba(113, 159, 173, 0.750);
}
a:hover {
  color: #ff4500;
}
